/*----- abstracts -----*/

        @import './abstracts/dev-classes.scss';
        @import './abstracts/breakpoints.scss';
        @import './abstracts/reset.scss';
        @import './abstracts/variables.scss';

/*----- base -----*/

        @import './base/fonts.scss';
        @import './base/flex-classes.scss';
        @import './base/styling-classes.scss';

/*----- layout -----*/

        @import './layout/header.scss';
        @import './layout/footer.scss';
        
/*----- pages -----*/

        @import './pages/home.scss';


.heart-box{
        width: 25px;
        height: 25px;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z");
        cursor: pointer;
        // border: 1px solid red;
}
.heart-box:hover > .heart {
        animation: open 500ms 1 forwards;        
}



.heart{
        width: 100%;
        height: 100%;
        clip-path: circle(0%);
        background-color: red;
}
@keyframes open {
        0% { clip-path: circle(0%); }
        100% { clip-path: circle(75%); }
}




