*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
a{
    // color: black;
    text-decoration: none;
}
i{
    font-style: normal;
}

.icon{
    width: 100%;
}

.whiteLink, .whiteLink:active, .whiteLink:visited {
    color: white;
    text-decoration: none;
}

.blackLink, .blackLink:active, .blackLink:visited {
    color: black;
    text-decoration: none;
}