/*----- Color variables ------*/

        $purple: #9356DC;
        $pink: #FF79DA;
        $lightpink: #f4edfe;
        $teal: #99E2D0;
        $gray: #ededed;
        $darkgray: #5e5e5e;
        $gray1: #f6f6f6;
        $gray2: #eaeaea;
        $gray3: #353535;

        $pinkpurplegradient: linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 97%);
        $horizontalgradient: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);


        $mainwidth: min(100%, 1200px);
        $adaptativemidwidth:  min(100%, 700px);
        // $mainwidth: min(100%, 1200px);

/*----- shadows -----*/
        
        $shadow: 2px 2px 10px rgba(0, 0, 0, 0.171);
        $shadowlift: 2px 2px 10px rgba(0, 0, 0, 0.255);

/*----- borders -----*/

        $cardradius: 20px;
        $innerRadius20: 20px;

/*----- animations -----*/

        $checkbox: width 500ms ease-in-out;