/*----- Color variables ------*/

        $purple: #9356DC;
        $pink: #FF79DA;
        $lightpink: #f4edfe;
        $teal: #99E2D0;
        $gray: #ededed;
        $darkgray: #5e5e5e;
        
/*----- shadows -----*/
        
        $shadow: 2px 2px 10px rgba(0, 0, 0, 0.171);
        $shadowlift: 2px 2px 10px rgba(0, 0, 0, 0.255);

/*----- borders -----*/

        $cardradius: 20px;
        $innerRadius20: 20px;

