@import '../components/card.scss';
html{
    overflow-x: hidden;
    background-color: #ededed;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-intro{
    width: 100%;
    padding: 50px 10px;
    display: grid;
    place-items: center;
    background-color: $gray1;

    &__title{
        font-size: clamp(24px, 2vw, 32px);
        text-align: center;
        padding: 0 40px;
    }

    .section-intro__slogan{
        font-size: clamp(20px, 2vw, 24px);
        font-weight: 300;
        padding: 20px max(5vw, 15px) 0 max(5vw, 15px);
        text-align: center;
    }

    .section-intro__button{
        font-size: 20px;
        color: white;
        background: $pinkpurplegradient;
        padding: 18px 30px;
        border-radius: 50px;
        border: 0;
        margin-top: 35px;
        cursor: pointer;
    }
}


.section-tuto{
    width: $mainwidth;
    padding: 50px 25px 50px 25px;

    &__list{
        list-style: none;
        display: flex;
        

        &__item{
            background-color: $gray;
            font-size: 18px;
            font-weight: 500;
            padding: 30px 40px;
            border-radius: 25px;
            margin-top: 25px;
            box-shadow: $shadow;
            position: relative;
            transition: background-color 300ms;
            display: flex;
            align-items: center;

            &__icon{
                color: $gray3;
                transition: all 300ms;
                margin-right: 20px;
            }

            &__number{
                width: 30px;
                height: 30px;
                color: white;
                font-size: 18px;
                font-weight: 400;
                background-color: $purple;
                border-radius: 50%;
                position: absolute;

                transform: translate(-50%, -50%);
                display: grid;
                place-items: center;
            }
        }
        &__item:hover {
            background-color: $lightpink;

            i{
                color: $purple;
            }
        }

    }
}
@media (max-width: 899px) {
    .section-tuto__list{
        flex-direction: column;
        align-items: center;
        & li{
            width: min(100%, 450px);
            & .number{
                top: 50%;
                left: 0%;
            }

        }
    }
}
@media (min-width: 900px) {
    .section-tuto__list{
        flex-direction: row;
        justify-content: space-between;

        & li{
            width: 30%;

            & .number{
                top: 0%;
                left: 50%;
            }

        }

    }
}

.section-restaurants{
    width: min(100%, 1200px);
    background-color: var(--gray);
    padding: 60px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    /*restaurant card imported at page top */

    & > .title{
        width: 100%;
        font-size: 28px;
        font-weight: 800;
    }

}