.restaurant__main{
    padding: 40px 0;
    margin: auto;
    background-color: $gray;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.menuCourse{
    // width: 100%;
    padding: 10px;
    border-width: 0;
    display: flex;
    flex-direction: column;
}

.menuOption{
    width: 100%;
    background-color: white;
    border-radius: 15px;
    margin-top: 15px;
    box-shadow: $shadow;
    display: flex;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    opacity: 0;
    
}

        .dishInfoBox{
            width: 90%;
            font-weight: 300;
            transition: $checkbox;
        }


                    .dish{
                        width: 100%;
                        font-size: clamp(13px, 2.5vw, 23px);
                        font-weight: 700;
                        padding: 10px 0 0 15px;
                        
                    }
                    .sides{
                        font-size: clamp(11px, 1.5vw, 20px);
                        padding-top: 10px;
                        padding: 5px 0 10px 15px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                    
        .price{
            width: 10%;
            font-size: max(12px, 1.2vw);
            font-weight: 700;
            padding: 0 10px 10px 0;
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }

        .checkBox{
            width: 0px;
            color: white;
            font-size: 20px;
            background-color: $teal;
            display: grid;
            place-items: center;
            transition: $checkbox;
        }



.menuOption:hover .dishInfoBox{
    width: calc(90% - 70px);
}

.menuOption:hover .checkBox{
    width: 70px;
}

@media (max-width: 1199px){
    .restaurant__main{
        width: $adaptativemidwidth;
        flex-direction: column;
    }
    .menuCourse{
        width: 100%;
    }
}
@media (min-width: 1200px){
    
    .restaurant__main{
        width: 100%;
        flex-direction: row;
        align-items: flex-start;
    }
    .menuCourse{
        width: 33.33333%;
    }
}

.menuOption1{
    animation: 400ms linear 0s forwards fadeIn;
}
.menuOption2{
    animation: 400ms linear 200ms forwards fadeIn;
}
.menuOption3{
    animation: 400ms linear 400ms forwards fadeIn;
}
.menuOption4{
    animation: 400ms linear 600ms forwards fadeIn;
}
@keyframes fadeIn{
    0%{
        opacity: 0;
        top: 10%
    }
    100%{
        opacity: 1;
        top: 0%
    }
}