.restaurant__main{
    width: $mainwidth;
    margin: auto;
    background-color: $gray;

    .menu{
        width: 100%;
        padding-top: 40px;

        .menu__fieldset{
            width: 100%;
            padding: 10px;
            border-width: 0;
            display: flex;
            flex-direction: column;

            .menu-option{
                width: 100%;
                font-size: 20px;
                font-weight: 400;
                background-color: white;
                padding: 10px;
                border-radius: 15px;
                margin-top: 15px;
                box-shadow: $shadow;
                display: flex;
                flex-direction: column;
                overflow: hidden;
                cursor: pointer;

                .dish{
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    width: calc(100%)
                }
                .menu-option__more-info{
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 30px;
                    padding-right: 20px;
                    display: flex;
                    justify-content: space-between;


                & .price{
                    font-size: 18px;
                    font-weight: 700;
                    
                }
                }

            }

            .hiden-radio-button{
                position:absolute;
                z-index: -1;
            }
        }
        
    }
}
