.restaurant__main{
    width: $mainwidth;
    padding: 40px;
    margin: auto;
    background-color: $gray;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.menuCourse{
    // width: 100%;
    padding: 10px;
    border-width: 0;
    display: flex;
    flex-direction: column;
}

.menuOption{
    width: 100%;
    background-color: white;
    border-radius: 15px;
    margin-top: 15px;
    box-shadow: $shadow;
    display: flex;
    cursor: pointer;
    overflow: hidden;
}

        .dishInfoBox{
            width: 90%;
            font-weight: 300;
            transition: $checkbox;
        }


                    .dish{
                        width: 100%;
                        font-size: 20px;
                        font-weight: 700;
                        padding: 10px 0 0 15px;
                        
                    }
                    .sides{
                        font-size: 18px;
                        padding-top: 10px;
                        padding: 5px 0 10px 15px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                    
        .price{
            width: 10%;
            font-size: 18px;
            font-weight: 700;
            padding-bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }

        .checkBox{
            width: 0px;
            color: white;
            font-size: 20px;
            background-color: $teal;
            display: grid;
            place-items: center;
            transition: $checkbox;
        }

.buttonBox{
    width: 100%;
    display: grid;
    place-items: center;
}

.buttonBox button{
    color: white;
    font-size: 24px;
    background: $horizontalgradient;
    padding: 15px 30px;
    border-radius: 50px;
    border-width: 0;
    margin: 40px 0;
    cursor: pointer;
}

.menuOption:hover .dishInfoBox{
    width: calc(90% - 70px);
}

.menuOption:hover .checkBox{
    width: 70px;
}
@media (max-width: 1199px){
    .restaurant__main{
        flex-direction: column;
    }
    .menuCourse{
        width: 100%;
    }
}
@media (min-width: 1200px){
    
    .restaurant__main{
        flex-direction: row;
    }
    .menuCourse{
        width: 33.33333%;
    }
}
