@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
body{
    width: 100vw;
}

:root{
    --lightblue: #9356DC;
    --blue: #FF79DA;
    --strongblue: #99E2D0;
    --gray: #f2f2f2;
    --darkgray: #d9d9d9;
    --shadow: 2px 2px 10px rgba(0, 0, 0, 0.171);
    --outerRadius25: 25px;
    --innerRadius20: 20px;
}
.shrikhand{
    font-family: 'Shrikhand', cursive;
}
.roboto{
    font-family: 'Roboto';
}
.centered{
    display: grid;
    place-items: center;
}
.red{
    border: 1px solid red;
}