@import '../abstracts/variables.scss';
.buttonBox{
    width: 100%;
    display: grid;
    place-items: center;
}

.rainbowBtn{
    color: white;
    font-size: clamp(18px, 2vw, 24px);
    background: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 53%, rgba(147,86,220,1) 100%);
    background-size: 100% 200%;
    background-position: bottom;
    padding: 15px 30px;
    border-radius: 50px;
    border-width: 0;
    margin: 40px 0;
    cursor: pointer;
    transition: all 500ms ease;
}

.rainbowBtn:hover{
    // color: rgb(75, 75, 75);
    background-position: top;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.514);
}