@import '../abstracts/variables.scss';

.section-restaurants .card{
    height: clamp(250px, 20vw, 350px);
    background-color: white;
    border-radius: 20px;
    margin: 20px 10px 0 10px;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.171);
    display: block;
    position: relative;

    

    & figure{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        & .image{
            width: 100%;
            height: 70%;
            object-fit: cover;
        }
        

        & figcaption{
            padding: 20px 20px;
            position: relative;

            & .title{
                font-size: clamp(18px, 2.2vw, 24px);
            }
            & .city{
                font-size: clamp(16px, 2vw, 22px);
            }

            & .heart-box{
                bottom: 50%;
                right: 25px;
                transform: translateY(50%);
            }
        }
    }

    & .nouveau{
        font-size: 15px;
        font-weight: 500;
        color: #3b8567;
        background-color: #99E2D0;                    
        padding: 7px 15px;
        border-radius: 5px;
        margin: 10px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 100000;
    }
}

@media (max-width: 899px) {
    .section-restaurants .card {
        width: min(100%, 350px);
    }
}

@media (min-width: 900px) {
    .section-restaurants .card {
        width: min(40vw, 560px);
    }
}