.section-Restaurant__card{
    width: 100%;
    height: 300px;
    background-color: white;
    border-radius: $cardradius;
    margin-top: 20px;
    overflow: hidden;
    box-shadow: $shadow;
    display: block;
    position: relative;

    figure{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        figcaption{
            padding: 20px 10px;
            position: relative;
            pointer-events: none;
        }

        .fa-heart{
            font-size: 25px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            display: grid;
            place-items: center;
            margin: 20px;
        }
    }

    .nouveau{
        font-size: 15px;
        font-weight: 500;
        color: #3b8567;
        background-color: $teal;
        padding: 7px 15px;
        border-radius: 5px;
        margin: 10px;
        position: absolute;
        top: 0;
        right: 0;
    }
}