@import '../abstracts/variables.scss';

.loader-backdrop {
    height: 100vh;
    position: fixed;
    z-index: 1000000000000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #99e2d0d4;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: showHide;
    animation-delay: 3000ms;
    animation-timing-function: cubic-bezier(.52,-0.28,1,.19);
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
}
@keyframes showHide {
    from{transform: translateX(0px);}
    to{transform: translateX(-100%);}
}
.pizza-box {
    width: 10vw;
    height: 10vw;
    position: relative;
}
.slice {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation-duration: 1200ms;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}
.slice1 {
    animation-name: slice1;
    animation-delay: 500ms;
}
.slice2 {
    animation-name: slice2;
    animation-delay: 700ms;
}
.slice3 {
    animation-name: slice3;
    animation-delay: 900ms;
}
.slice4 {
    animation-name: slice4;
    animation-delay: 1100ms;
}
.slice5 {
    animation-name: slice5;
    animation-delay: 1300ms;
}

.slice6 {
    animation-name: slice6;
    animation-delay: 1500ms;
}
$pos: 10px;

$neg: -10px;

@keyframes slice1 {
    0%{ transform: translate(0px, 0px);}
    5%{ transform: translate(0px, $neg);}
    100%{ transform: translate(0px, 0px);}
}

@keyframes slice2 {
    0%{ transform: translate(0px, 0px);}
    5%{ transform: translate($pos, $neg);}
    100%{ transform: translate(0px, 0px);}
}

@keyframes slice3 {
    0%{ transform: translate(0px, 0px);}
    5%{ transform: translate($pos, $pos);}
    100%{ transform: translate(0px, 0px);}
}

@keyframes slice4 {
    0%{ transform: translate(0px, 0px);}
    5%{ transform: translate(0px, $pos);}
    100%{ transform: translate(0px, 0px);}
}

@keyframes slice5 {
    0%{ transform: translate(0px, 0px);}
    5%{ transform: translate($neg, $pos);}
    100%{ transform: translate(0px, 0px);}
}

@keyframes slice6 {
    0%{ transform: translate(0px, 0px);}
    5%{ transform: translate($neg, $neg);}
    100%{ transform: translate(0px, 0px);}
}