.footer{
    background-color: $gray3;
    padding: 20px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title{
        width: 100%;
        color: white;
        font-family: 'Shrikhand', cursive;
        font-size: max(14px, 1.5vw);
        font-weight: 200;
        display: block;
    }
    &__nav-box{
        width: 100%;
        margin-top: 12px;
        display: flex;
        
        flex-wrap: wrap;

        &__link{
            color: white;
            font-size: max(1vw, 12px);
            font-weight: 100;
            margin-top: 6px;
            cursor: pointer;

            &__icon{
                width: 30px;
                display: inline-block;
            }
        }
    }
}
@media (max-width: 1199px){
    .footer__nav-box{
        flex-direction: column;
        justify-content: space-between;
    }
    
}
@media (min-width: 1200px){
    .footer__nav-box{
        flex-direction: row;
        justify-content: space-between;
    }
}