.footer{
    background-color: #353535;
    padding: 2.5vw 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .title{
        width: min(100%, 560px);
        color: white;
        font-family: 'Shrikhand', cursive;
        font-size: max(14px, 1.5vw);
        font-weight: 200;
        display: block;
    }
    & .nav-box{
        margin-top: 12px;
        display: flex;
        flex-wrap: wrap;

        & .link{
            color: white;
            font-size: max(1vw, 14px);
            font-weight: 100;
            margin-top: 6px;
            cursor: pointer;

            & .icon{
                width: 25px;
                display: inline-block;
            }
        }
    }
}
@media (max-width: 1199px){
    .footer {
        & .title{
            text-align: left;
        }
        & .nav-box{
            width: min(100%, 560px);
            flex-direction: column;
            justify-content: space-between;
        }
    }
    
}
@media (min-width: 1200px){
    .footer{
        & .title{
            text-align: center;
        }
        & .nav-box{
            width: 100%;
            margin-top: 1.5vw;
            flex-direction: row;
            justify-content: space-around;
        }
    }
}