.header{
    width: 100%;
    background-color: white;
    // box-shadow: $shadow;

    .title-box{
        width: 100%;
        position: relative;
        z-index: 10;
        box-shadow: $shadow;
    }
    .header__title{
        font-family: "Shrikhand";
        font-size: clamp(22px, 3vw, 40px);
        padding: 15px 0 10px 0;
        margin: auto;
        display: grid;
        place-items: center;
        position: relative;

        .arrow-back{
            font-size: clamp(22px, 3vw, 40px);
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
        }
    }

    
    .header__gps-box{
        width: 100%;
        background-color: $gray2;
        padding: 18px 0;
        display: flex;
        justify-content: center;

        i{
            font-size: 20px;
            margin-right: 18px;
        }

        a{
            font-size: 19px;
            font-weight: 500;
        }
    }

    &__image-box{
        width: 100%;
        height: min(60vw, 600px);
        position: relative;

        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        & .bottom-stripe{
            width: 100%;
            padding: 0 4vw;
            border-radius: min(10vw, 40px) min(10vw, 40px) 0 0;
            background-color: $gray;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            margin: auto;

            & .restaurant-name{
                font-family: 'Shrikhand', cursive;
                font-size: clamp(20px, 5vw, 45px);
                font-weight: 100;
                padding-top: min(6vw, 40px);
                margin: auto;
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;

                & .heart-box{
                    scale: 120%;
                    position: absolute;
                    bottom: 20%;
                    // transform: translateY(0%);
                    right: 0;
                    overflow: visible;
                }
            }
        }
    }
}
@media (max-width: 1199px){
    .restaurant-name, .header__title{
        width: $adaptativemidwidth;
    }
}

@media (min-width: 1200px){
    .restaurant-name, .header__title{
        width: 100%;
    }
}