@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    text-decoration: none;
}
a, a:visited, a:active{
    color: black;
}
body{
    width: 100vw;
}
.icon, i{
    font-family: 'Material Icons';
    cursor: pointer;
    font-style: normal;
}
:root{
    --purple: #9356DC;
    --pink: #FF79DA;
    --lightpink: #f4edfe;
    --teal: #99E2D0;
    --gray: #ededed;
    --darkgray: #5e5e5e;
    --shadow: 2px 2px 10px rgba(0, 0, 0, 0.171);
    --shadowlift: 2px 2px 10px rgba(0, 0, 0, 0.255);
    --cardadius: 20px;
    --innerRadius20: 20px;
}
.shrikhand{
    font-family: 'Shrikhand', cursive;
}
.roboto{
    font-family: 'Roboto';
}
.centered{
    display: grid;
    place-items: center;
}
.red{
    border: 1px solid red;
}
.noClick{
    pointer-events: none;
}