header{
    width: 100%;
    font-family: "Shrikhand";
    
}
header > h1{
    width: 100%;
    padding: 15px 0 10px 0;
    box-shadow: var(--shadow);
    display: grid;
    place-items: center;
    z-index: 10;
    position: relative;
}
header > div{
    width: 100%;
    background-color: var(--gray);
    padding: 18px 0;
    display: flex;
    justify-content: center;
}
header > div > i{
    font-size: 20px;
    margin-right: 18px;
}
header > div > a{
    font-size: 19px;
    font-weight: 500;
}



.section1{
    width: 100%;
    padding: 50px 10px;
    display: grid;
    place-items: center;
    background-color: var(--gray);
}
.section1 > h2{
    font-size: 28px;
    /* padding: 0px 15px; */
    text-align: center;
}
.section1 > p{
    font-size: 22px;
    font-weight: 300;
    padding: 20px max(5vw, 15px) 0 max(5vw, 15px);
    text-align: center;
}
.section1 > button{
    font-size: 20px;
    color: white;
    background: linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 97%);;
    padding: 18px 30px;
    border-radius: 50px;
    border: 0;
    margin-top: 35px;
}


.section2{
    width: 100%;
    padding: 50px 25px 50px 40px;
}
.section2 > h2{
    font-size: 28px;
}
.section2 > ol{
    list-style: none;
}
.section2 > ol > li{
    background-color: var(--gray);
    font-size: 18px;
    font-weight: 500;
    padding: 30px 40px;
    border-radius: 25px;
    margin-top: 40px;
    box-shadow: var(--shadow);
    position: relative;
    cursor: pointer;
    transition: background-color 300ms;
    display: flex;
    align-items: center;
}
.section2 > ol > li > i{
    /* font-size: 20px; */
    color: var(--darkgray);
    transition: all 300ms;
    margin-right: 20px;
}
.section2 > ol > li > .number{
    width: 30px;
    height: 30px;
    color: white;
    font-size: 18px;
    font-weight: 400;
    background-color: var(--purple);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    display: grid;
    place-items: center;
}
.section2 > ol > li:hover {
    background-color: var(--lightpink);
}
.section2 > ol > li:hover > i{
    color: var(--purple);
}


.section3{
    width: 100%;
    background-color: var(--gray);
    padding: 60px 20px;
}
.section3 > h2{
    font-size: 28px;
    font-weight: 800;
}
.restaurantCard{
    width: 100%;
    height: 300px;
    background-color: white;
    border-radius: var(--cardadius);
    margin-top: 20px;
    overflow: hidden;
    display: block;
    position: relative;
}
.restaurantCard > figure{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.restaurantCard > figure > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.restaurantCard > figure > figcaption{
    padding: 20px 10px;
    position: relative;
}
.fa-heart{
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    margin: 20px;
}
.nouveau{
    font-size: 15px;
    font-weight: 500;
    color: #3b8567;
    background-color: var(--teal);
    padding: 7px 15px;
    border-radius: 5px;
    margin: 10px;
    position: absolute;
    top: 0;
    right: 0;
}
